* {
  margin: 0;
  padding: 0;
  font: arial sans-serif 12px;
  background-color: yellow;
}
.menu ul {
  list-style-type: none;
}
.menu li {
  display: inline;
  position: static;
}
.menu ul li a {
  text-decoration: none;
  /* margin: 1% auto; */
  margin-left: 5%;
  margin: 5% auto;
  padding: 10px 10px;
  color: #FFF;
  background-color: lightgrey;
}
.menu a:hover {
  color: purple;
  background-color: yellow;
  text-decoration: underline;
}
p {
    max-width: 50%;
    margin-left: 10%;
    padding: 30% auto;
    background-color: none;
}
